html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title Hamila Online Restaurant!
  body
    nav.links
      .OurMenu.underlineAnimation
        a(href='menu') Our Menu
      .HamilaLogoContact
        a(href='./')
          img(src='/images/HamilatmlogoVer3.png' alt='Hamila' width='170')
      .contact.underlineAnimation
        a(href='login') Contact Info
      .shopbasket
        a(href='myOrder')
          img(src='/images/shopbasketwhite.png' alt='shopping_basket' height='40')
    .bodyEditRegister
      .contactContainer
        h1.center Register Here!
        br
        br
        form(action='/register' method='post')
          label(for='username')
            | Username  
            input(type='text' placeholder='Enter Username' name='username' required='required')
            br
            br
          label(for='username')
            | Password  
            input#password(type='password' placeholder='Enter Password' name='password' required='required')
            br
            br
          label(for='username')
            | Confirm password  
            input#confirm-password(type='password' placeholder='Enter Password' name='confirm-password' required='required')
            br
            br
            br
            br
            br
            br
            button.buttonEditRegister(type='submit') Register
          p= errorMsg
          script.
            var password = document.getElementById("password")
            var confirm_password = document.getElementById("confirm-password");
            function validatePassword(){
            if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
            confirm_password.setCustomValidity('');
            }
            }
            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
    footer
      .footerFlex
        a.hoverEffect(href='#') Contact Us
        a.hoverEffect(href='#') FAQ
        a.hoverEffect(href='#') Our policy
      .footerFlex2
        a.hoverEffect(href='#') Terms and Conditions
        a.hoverEffect(href='#') Report Something
        a.hoverEffect(href='#') Work with us!
      p.copyrightCenter © Adam Hama Gareb 2022